<!doctype html>
<html lang="en" xmlns:ng="https://angularjs.org" ng-app="golfApp">



 <head>
    
  </head>

<head>
  <title>Match Play Golf</title>

  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="-1">

  <meta charset="utf-8">
  
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  
  <link rel="stylesheet" href="style.css" />

  <style>
   
           [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
		
		
		.md-grid-list {
  margin: 8px; }
 .gray {
  background: #f5f5f5; }
.green {
  background: #b9f6ca; }
  .yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
  .purple {
  background: #b388ff; }
 .red {
  background: #ff8a80; }
 md-grid-tile {
  transition: all 400ms ease-out 50ms; }

   
</style>

</head>

<body layout="column">

  <div ng-controller="GolfController">
	
	
	<md-toolbar layout="row">
        <button ng-click="toggleSidenav('left')" hide-gt-sm class="menuBtn">
               <span class="visually-hidden">Menu</span>
        </button>
		<h1 class="md-toolbar-tools" layout-align-gt-sm="center">Match Play Golf</h1>
    </md-toolbar>


  
	<md-content>
    <md-card>
      <md-card-content>
        <h2>Course</h2>
    	 <md-grid-list md-cols-sm="1" md-cols-md="2"  md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter-gt-sm="8px" 
		 md-cols-gt-md="6" md-gutter="12px">
		 
    	  <md-grid-tile class="green"
			md-rowspan="1" md-colspan="2">
			
						
						
			<a class="link-digit" style="padding-left: 25px;"  ng-click="bumpHole();">{{currentHole+1}}</a>
			
			
			<md-button class="md-default-theme md-accent md-fab md-fab-top-right" ng-click="decHole();">
        			-
      		</md-button>
          

			
			
		  <md-grid-tile-footer>
			<h3>Hole</h3>
		
		  </md-grid-tile-footer>
		</md-grid-tile>
	
 	  <md-grid-tile class="blue"
			md-rowspan="1" md-colspan="2">
			
			  <div ng-repeat="h in data.course | offset:currentHole | limitTo:1 ">
	 			<a class="link-digit"  ng-click="h.par = h.par + 1;">{{h.par}}</a>
		      </div>

			
		  <md-grid-tile-footer>
			<h3>Par</h3>
		  </md-grid-tile-footer>
		</md-grid-tile>
	
	<md-grid-tile class="yellow"
			md-rowspan="1" md-colspan="2">
			
		  <div ng-repeat="h in data.course | offset:currentHole | limitTo:1 ">
				<a class="link-digit" ng-click="h.handicap = h.handicap + 1;">{{h.handicap}}</a>	
		
          </div>

			
			
		  <md-grid-tile-footer>
			<h3>Handicap</h3>

		  </md-grid-tile-footer>
		</md-grid-tile>
	
		 
		</md-grid-list>
		 
		
		
      </md-card-content>
    </md-card>
  
  

  
	
	
	
	<md-content>
    <md-card>
      <md-card-content>
        <h2>Player</h2>
    	 <md-grid-list md-cols-sm="1" md-cols-md="2"  md-row-height-gt-md="1:1" md-row-height="1:1" md-gutter-gt-sm="8px" 
		 md-cols-gt-md="6" md-gutter="12px">
		 
    	  <md-grid-tile class="purple"
			md-rowspan="1" md-colspan="2">
			
						
						
			<a class="link-digit" ng-show="currentPlayer>0" ng-click="bumpPlayer();">{{currentPlayer}}
			</a>
			
			
			<md-button class="md-default-theme md-accent md-fab md-fab-top-right" ng-click="currentPlayer= currentPlayer -1;">
        			-
      		</md-button>
          
			<md-button class="md-default-theme md-primary md-fab md-fab-top-left" ng-click="bumpPlayer();">
        			New
      		</md-button>
          
			
			
		  <md-grid-tile-footer>
			<h3>Player</h3>
			
			
				<a>{{getWinnings(currentPlayer) | currency}}</a>
				
				<md-button class="md-raised md-warn" ng-show="data.players.length>0" ng-click="deletePlayer(currentPlayer);">
					Delete
				
				
				</md-button>
		
				
		  </md-grid-tile-footer>
		</md-grid-tile>
	
 	  <md-grid-tile class="yellow"
			md-rowspan="1" md-colspan="2">
	

		    <div ng-repeat="p in data.players | offset:currentPlayer-1 | limitTo:1">
				<a class="link-digit" ng-show="currentPlayer>0" ng-click="p.handicap = p.handicap + 1;">{{p.handicap}}</a>
			</div>
    
	
	
			
		  <md-grid-tile-footer>
			<h3>Handicap</h3>
		  </md-grid-tile-footer>
		</md-grid-tile>
	
	
		<md-grid-tile class="red"
			md-rowspan="1" md-colspan="2" ng-show="data.players.length>0">
	
			
			<md-grid-tile-header>
			
				<h3>{{getPlayerName(currentPlayer)}}&nbsp;&nbsp;
						Hole {{currentPlayerHole+1}}
            	</h3>
		  </md-grid-tile-header>
		
		<div ng-repeat="p in data.players | offset:currentPlayer-1 | limitTo:1 ">
					<div ng-repeat="s in p.scores | offset:currentPlayerHole | limitTo:1 track by $index ">
						<a class="link-digit" ng-click="s.grossScore = s.grossScore + 1;">{{s.grossScore}}</a>
			  </div>
			  </div>
			  
			
		  <md-grid-tile-footer>
			<h3>Gross</h3>
			
 			 <md-button ng-disabled="!(currentPlayerHole >0)" ng-click="currentPlayerHole = currentPlayerHole - 1;">
              <span class="glyphicon glyphicon-backward" a></span>
				Previous Hole
             </md-button>

			  <md-button ng-disabled="currentPlayerHole ==17;" ng-click="currentPlayerHole = currentPlayerHole + 1;">
              <span class="glyphicon glyphicon-forward" a></span>
				Next Hole
             </md-button>

			
		  </md-grid-tile-footer>
		  
		  
		</md-grid-tile>
	
	
	
	
		</md-grid-list>
		 
		
		
      </md-card-content>
    </md-card>
  
  
<br>

  
  
	  

    <div ng-cloak>


   
      <table border="1"  class="table">
		
		<tr>
		   <td class="score-card-caption" colspan="11">Front 9</td>
	    
		</tr>
		
		
        <tr>
          <td>
            Hole
          </td>
          <td ng-repeat="h in data.course | limitTo:9 " >
            <div class="label label-success">{{$index+1}}</div>
          </td>
          <td>Out</td>
        </tr>
		
	
  <tr>
          <td>
            Par
          </td>
          <td ng-repeat="p in data.course | limitTo:9 ">
            <div class="label label-info" ng-bind="p.par"></div>
          </td>
		  <td>
			<div class="label label-info">{{sumPar($index,0,9)}}</div>
		  </td>

        </tr>
		
		
        <tr>
          <td>
            HDCP
          </td>
          <td ng-repeat="h in data.course |  limitTo:9">
            <div class="label label-warning" ng-bind="h.handicap"></div>
          </td>

          <td></td>
        </tr>
      
		
	  
	  
    	<tr ng-repeat="p in data.players " ng-init="outerIndex = $index+1">
          <td ng-class="{ bold : (currentPlayer==outerIndex)}">
            <span class="label label-warning">{{p.handicap}}</span>&nbsp;{{p.name}}&nbsp;(Gross)
          </td>
          <td ng-repeat="s in p.scores | limitTo:9 track by $index" ng-class="{ bold : currentPlayerHole==$index}">
            <div>{{s.grossScore}}</div>
          </td>
          <td>{{sumGross($index,0,9)}}</td>
        </tr>

          

        <tr ng-repeat="p in scoredRound.players" ng-init="outerIndex = $index+1">
          <td ng-class="{ bold : (currentPlayer==outerIndex)}">
            <span class="label label-warning">{{p.handicap}}</span>&nbsp;{{p.name}}&nbsp;(Net)
          </td>
          <td ng-repeat="s in p.scores | limitTo:9 track by $index">
            <div>{{s.grossScore}}</div>
          </td>
          <td>{{sumNet($index,0,9)}}</td>
		</tr>
		
        
          <tr ng-repeat="w in wins track by $index">
          <td>
		    {{getPlayerName($index+1)}}
          </td>

          <td ng-repeat="x in w | limitTo:9 track by $index">
            <span ng-show="x!=-1" class="glyphicon glyphicon-ok"></span>
            
          </td>
          <td>{{sumWins($index,0,9)}}</td>

        </tr>
    
	    <tr>
		   <td class="score-card-caption" colspan="11">Back 9</td>
	    
		</tr>
		<tr>
          <td>
            Hole
          </td>
          <td ng-repeat="h in data.course | limitTo:9 ">
            <div class="label label-success">{{$index+10}}</div>
          </td>
          <td>Out</td>
        </tr>
        
		<tr>
          <td>
            Par
          </td>
          <td ng-repeat="p in data.course | limitTo:9 ">
            <div class="label label-info">{{p.par}}</div>
          </td>
    	     <td>
			 <span class="label label-info">{{sumPar($index,9,18)}}</span>
			 </td>
    </tr>
		
		
		<tr>
          <td>
            HDCP
          </td>
          <td ng-repeat="h in data.course |  offset:9 | limitTo:9">
            <div class="label label-warning">{{h.handicap}}</div>
          </td>

          <td></td>
        </tr>
		
		
		
		<tr ng-repeat="p in data.players" ng-init="outerIndex = $index+1">
          <td ng-class="{ bold : (currentPlayer==outerIndex)}">
            <span class="label label-warning">{{p.handicap}}</span>&nbsp;{{p.name}}&nbsp;(Gross)
          </td>
          <td ng-repeat="s in p.scores | offset:9 | limitTo:9 track by $index" ng-class="{ bold : (currentPlayerHole==$index+9)}">
            <div>{{s.grossScore}}</div>
          </td>
          <td>{{sumGross($index,9,18)}}</td>
        </tr>

		<tr ng-repeat="p in scoredRound.players" ng-init="outerIndex = $index+1">
          <td ng-class="{ bold : (currentPlayer==outerIndex)}">
            <span class="label label-warning">{{p.handicap}}</span>&nbsp;{{p.name}}&nbsp;(Net)
          </td>
          <td ng-repeat="s in p.scores | offset:9 | limitTo:9 track by $index">
            <div>{{s.grossScore}}</div>
          </td>
          <td>{{sumNet($index,9,18)}}</td>

        </tr>
    
	    <tr ng-repeat="w in wins track by $index">
          <td>
		    {{getPlayerName($index+1)}}
          </td>

          <td ng-repeat="x in w | offset:9 | limitTo:9 track by $index">
           <span ng-show="x!=-1" class="glyphicon glyphicon-ok"></span>
          </td>

          <td>{{sumWins($index,9,18)}}</td>

        </tr>
      </table>


	
    </div>


	
	



	<div ng-cloak class="col-sm-6 col-md-4">
      <div class="thumbnail shadow">
        <p>Nassau Bets</p>
        <div class="score-thumb">
		  <table width="100%">
		  <tr>
    <th>Hole</th>
    <th>Front</th> 
    <th>Back</th>
  </tr>
		

	<tbody>
		  <tr>
		  
          <td><a class="link-digit" style="padding-left: 25px;" ng-click="data.bet = data.bet + 1">{{data.bet}}</a>
		  <td><a class="link-digit" style="padding-left: 25px;" ng-click="data.frontBet = data.frontBet + 1">{{data.frontBet}}</a>
          <td><a class="link-digit" style="padding-left: 25px;" ng-click="data.backBet = data.backBet + 1">{{data.backBet}}</a>
          
		  </table>
        </div>

		   <a class="btn btn-default btn-score" ng-click="loadSampleData();">
        <span class="glyphicon glyphicon glyphicon-floppy-disk" a></span>
        Load Sample Round
      </a>
          <a class="btn btn-default btn-score" ng-click="data.frontBet=0;data.backBet=0;data.bet=0;">
            <span class="glyphicon glyphicon-repeat" a></span>
            Reset Bets
          </a>


      </div>
    </div>


	

    
		<div ng-cloak class="col-sm-6 col-md-4">
                <div class="thumbnail shadow">

                    <p>About 
					
					<span class="glyphicon glyphicon-info-sign" style="float:right"></span>
                    </p>

				        <div class="score-thumb">

                            <p class="callout-detail" style="font-weight:normal; padding: 5px;">An application to score match play golf. This application is running on Google's app engine. 
							The technology stack includes Angular JS and Bootstrap. 
                                <p>

                        </div>

                        <a class="btn btn-default btn-score" href="https://github.com/pnadolny/golfscorecards">View on GitHub</a>
						<a class="btn btn-default btn-score" href="https://github.com/pnadolny/golfscorecards">Report an issue</a>
						
						
						
						
                </div>


            </div>

	
	
	
  </div>


  
  
    <script type="text/ng-template" id="player.html">
        <div class="modal-header">
            <h3>Player</h3>
        </div>

        <div class="modal-body">

            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="payee">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="player.name" autocomplete="off" name="name" />
						
                    </div>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-success" ng-click="ok()">Save</button>
                <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
            </div>



    </script>


  
  
  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-resource.min.js"></script>
  
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular-aria.min.js"></script>
    
  
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>
  
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/filters.js"></script>


</body>

</html>