<!doctype html>
<html lang="en" xmlns:ng="https://angularjs.org" ng-app="golfApp">

<head>
  <title>Match Play Golf</title>

  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <META HTTP-EQUIV="Expires" CONTENT="-1">

  <meta charset="utf-8">
  <meta name="viewport" content="width = device-width,user-scalable = no">
  <link rel="stylesheet" href="style.css" />

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
   <style>
   
           [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }

   
</style>

</head>

<body style="padding-top:10px;">

  <div ng-controller="GolfController">




    <div ng-cloak class="col-sm-6 col-md-4">


      <a class="btn btn-success btn-score" ng-click="loadSampleData();">
        <span class="glyphicon glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
        Load Sample Round
      </a>

      <table border="1" class="table">
		<caption>Front 9</caption>
		
        <tr>
          <td>
            Hole
          </td>
          <td ng-repeat="h in data.course | limitTo:9 ">
            <div class="legend legend-type-hole">{{$index+1}}</div>
          </td>
          <td>Out</td>
        </tr>
        <tr>
          <td>
            Hcp
          </td>
          <td ng-repeat="h in data.course |  limitTo:9">
            <div class="legend legend-type-hdcp">{{h.handicap}}</div>
          </td>

          <td></td>
        </tr>
      
    	  <tr>
            <td colspan="11">Gross</td>
        </tr>
        <tr ng-repeat="p in data.players ">
          <td>
            P{{$index+1}} <span class="badge">{{p.handicap}}</span>
          </td>
          <td ng-repeat="s in p.scores | limitTo:9 track by $index">
            <div class="legend legend-type-player">{{s.grossScore}}</div>
          </td>
          <td>{{sumGross($index,0,9)}}</td>
        </tr>

          <tr>
            <td colspan="11">Net</td>
	    
          </tr>
        

        <tr ng-repeat="p in scoredRound.players">
          <td>
            P{{$index+1}} <span class="badge">{{p.handicap}}</span>
          </td>
          <td ng-repeat="s in p.scores | limitTo:9 track by $index">
            <div class="legend legend-type-player">{{s.grossScore}}</div>
          </td>
          <td>{{sumNet($index,0,9)}}</td>

        </tr>
		
          <tr>
            <td colspan="11">Wins</td>
	    
          </tr>
       
          <tr ng-repeat="w in wins track by $index">
          <td>
            P{{$index+1}}
          </td>

          <td ng-repeat="x in w | limitTo:9 track by $index">
            <span ng-show="x!=-1" class="glyphicon glyphicon-ok"></span>
            
          </td>
          <td>{{sumWins($index,0,9)}}</td>

        </tr>
      </table>



      <table border="1" class="table">

	  <caption>Back 9</caption>
		<tr>
          <td>
            Hole
          </td>
          <td ng-repeat="h in data.course | limitTo:9 ">
            <div class="legend legend-type-hole">{{$index+9}}</div>
          </td>
          <td>Out</td>
        </tr>
        <tr>
          <td>
            Hcp
          </td>
          <td ng-repeat="h in data.course |  offset:9 | limitTo:9">
            <div class="legend legend-type-hdcp">{{h.handicap}}</div>
          </td>

          <td></td>
        </tr>
          <tr>
			<td colspan="11">Gross</td>
	    
		</tr>
        <tr ng-repeat="p in data.players ">
          <td>
            P{{$index+1}} <span class="badge">{{p.handicap}}</span>
          </td>
          <td ng-repeat="s in p.scores | offset:9 | limitTo:9 track by $index">
            <div class="legend legend-type-player">{{s.grossScore}}</div>
          </td>
          <td>{{sumGross($index,9,18)}}</td>
        </tr>

          <tr>
 <td colspan="11">Net</td>
	        

		</tr>
       
        <tr ng-repeat="p in scoredRound.players">
          <td>
            P{{$index+1}} <span class="badge">{{p.handicap}}</span>
          </td>
          <td ng-repeat="s in p.scores | offset:9 | limitTo:9 track by $index">
            <div class="legend legend-type-player">{{s.grossScore}}</div>
          </td>
          <td>{{sumNet($index,9,18)}}</td>

        </tr>
    
		<tr>
			<td colspan="11">Wins</td>
	      </tr>
       
        <tr ng-repeat="w in wins track by $index">
          <td>
            P{{$index+1}}
          </td>

          <td ng-repeat="x in w | offset:9 | limitTo:9 track by $index">
           <span ng-show="x!=-1" class="glyphicon glyphicon-ok"></span>
          </td>

          <td>{{sumWins($index,9,18)}}</td>

        </tr>
      </table>



    </div>

	<br>

    <div ng-cloak class="col-sm-6 col-md-4">
      <div class="thumbnail shadow">
        <p>Player</p>
        <div class="scoreThumb">
          <a class="link-digit" ng-show="currentPlayer>0" ng-click="bumpPlayer();">{{currentPlayer}}</a>
          <a class="btn btn-danger btn-subtract" ng-show="currentPlayer>1" ng-click="currentPlayer= currentPlayer -1;">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            Previous
          </a>
        </div>
        <a class="btn btn-success btn-score" ng-click="bumpPlayer();">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          New
        </a>

        <a class="btn btn-danger btn-score" ng-show="data.players.length>0" ng-click="deletePlayer(currentPlayer);">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
          Delete
        </a>

      </div>
    </div>

    <div ng-repeat="p in data.players | offset:currentPlayer-1 | limitTo:1 ">

      <div ng-cloak class="col-sm-6 col-md-4">
        <div class="thumbnail shadow">
          <p>Handicap<span class="legend legend-type-player" style="float:right">Player&nbsp {{currentPlayer}}</span>
          </p>

          <div class="scoreThumb">
            <a class="link-digit" ng-click="p.handicap = p.handicap + 1;">{{p.handicap}}</a>

          </div>
          <a class="btn btn-danger btn-score" ng-show="p.handicap !=0;" ng-click="p.handicap= p.handicap -1;">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            Subtract
          </a>
        </div>
      </div>



      <div ng-repeat="s in p.scores track by $index">

        <div ng-cloak class="col-sm-6 col-md-4">
          <div class="thumbnail shadow">
            <p>&nbsp<span class="legend legend-type-player" style="float:left">Player&nbsp {{currentPlayer}}</span>
              <span class="legend legend-type-hole" style="float:right">Hole {{$index+1}}</span>
            </p>

            <div class="scoreThumb">
              <a class="link-digit" ng-click="s.grossScore = s.grossScore + 1;">{{s.grossScore}}</a>
            </div>
            <a class="btn btn-danger btn-score" ng-show="s.grossScore !=0;" ng-click="s.grossScore= s.grossScore -1;">
              <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
              Subtract
            </a>

          </div>
        </div>


      </div>

    </div>

      <div ng-cloak class="col-sm-6 col-md-4">
      <div class="thumbnail shadow">

        <p>Hole</p>
        <div class="scoreThumb">
          <a class="link-digit" ng-click="bumpHole();">{{currentHole+1}}</a>
        </div>
        <a class="btn btn-success btn-score" ng-show="data.course.length==0" ng-click="bumpHole();">
          <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          New
        </a>
        <a class="btn btn-danger btn-score" ng-show="currentHole > 0;" ng-click="currentHole = currentHole -1;">
          <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
          Previous
        </a>


      </div>
    </div>


    <div ng-repeat="h in data.course | offset:currentHole | limitTo:1 ">


      <div ng-cloak class="col-sm-6 col-md-4">
        <div class="thumbnail shadow">
          <p>Handicap<span class="legend legend-type-hole" style="float:right">Hole&nbsp{{currentHole+1}}</span>
          </p>
          <div class="scoreThumb">
            <a class="link-digit" ng-click="h.handicap = h.handicap + 1;">{{h.handicap}}</a>
          </div>

          <a class="btn btn-danger btn-score" ng-show="h.handicap >0;" ng-click="h.handicap= h.handicap -1;">
            <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
            Subtract
          </a>

        </div>
      </div>



    </div>

		<div ng-cloak class="col-sm-6 col-md-4">
                <div class="thumbnail shadow">

                    <p>About 
					
					<span class="glyphicon glyphicon-info-sign" style="float:right"></span>
                    </p>

				        <div class="scoreThumb">

                            <p class="callout-detail" style="font-weight:normal; padding: 5px;">An application to score match play golf. This application is running on Google's app engine. 
							The technology stack includes Angular JS and Bootstrap. 
                                <p>

                        </div>

                        <a class="btn btn-success btn-score" href="https://github.com/pnadolny/golfscorecards">View on GitHub</a>
						<a class="btn btn-warning btn-score" href="https://github.com/pnadolny/golfscorecards">Report an issue</a>
						
						
						
						
                </div>


            </div>

	
	
	
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/controllers.js"></script>
  <script src="/js/services.js"></script>
  <script src="/js/filters.js"></script>
  <script src="/js/ui-bootstrap-tpls-0.10.0.min.js"></script>


</body>

</html>