.shadow {
  -webkit-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 9px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.scoreThumb {
  height: 150px;
  border: 2px solid;
  border-radius: 5px;
  background-color: rgb(225, 232, 238);
}
thead {
  background-color: aliceblue;
}
.link-digit {
  padding-left: 50px;
  font-size: 750%;
  font-weight: bold;
  color: #0B0B0B;
}
.btn-score {
  margin-top: 5px;
}
.btn-subtract {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}
.legend {
  /* height: 1.2em;
  line-height: 1.2;
  font-size: 18px;
  
  width: 1.2em;
  text-align: center;
  text-transform: capitalize;
   color: #F8F8FF; */
}
.legend-type-hole {
 /*  background-color: #3c0; */
}
.legend-type-par {
  /* background-color: #09f; */
}
.legend-type-hdcp {
  /*background-color: #fd0; */
}
.legend-type-player {
  /*background-color: #f90;*/
}
.legend-type-win {
  background-color: #0027FF;
}
.back {
  padding: 20px;
}